<div>
  <!-- <lib-utility></lib-utility> -->
  <!-- <lib-mfe-wrapper [remoteAppDetails]="searchAppDetails"></lib-mfe-wrapper>
  <lib-mfe-wrapper [remoteAppDetails]="resultAppDetails" (mfeEvent)="onAddItem($event)"></lib-mfe-wrapper> -->
  <lib-mfe-wrapper [remoteAppDetails]="inventoryAppDetails" (mfeEvent)="onAddItem($event)"></lib-mfe-wrapper>
  <!-- <app-mfe-wrapper [remoteAppDetails]="searchAppDetails"></app-mfe-wrapper>
  <app-mfe-wrapper [remoteAppDetails]="resultAppDetails"></app-mfe-wrapper> -->
</div>
